{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": {{ seo.title }},
    "description": {{ seo.description }},
    "publisher": {
        "@type": "Person",
        "name": "{{ metadata.site.siteOwner }}"
    }
}