<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "sections/head.njk" %}
  </head>

  <body class="{{ bodyClasses }}" >
    <div id="at-top"></div>
    
    <main id="swup" class="transition-fade">
        
      {% block body %}
        This is the default contents
      {% endblock %}
        
    </main>
    
    {% include "sections/footer.njk" %}

    <a class="to-top" href="#at-top"><span class="sr-only">Scroll to top</span>{% include "icons/arrow-up-circle.njk" %}</a>

    <script src="/assets/scripts.js"></script>
  </body>
</html>