{% extends "layout.njk" %}

{% from "./component.njk" import component %}

{% block body %}
  {% for section in sections %}

    {% if not section.containerFields.isDisabled %}
    
      {# build the sections class string #}
      {% set sectionClasses = "section-wrapper" %}
      
      {# add user defined section class(es) #}
      {% if section.containerFields.containerClass %}
        {% set sectionClasses = sectionClasses ~ " " ~ section.containerFields.containerClass %}
      {% endif %}
      
      {% if section.containerFields.inContainer %}
        {% set sectionClasses = sectionClasses ~ " inContainer" %}
      {% endif %}

      {% if section.containerFields.isNarrow %}
        {% set sectionClasses = sectionClasses ~ " isNarrow" %}
      {% endif %}
      
      {% if section.containerFields.isDisabled %}
        {% set sectionClasses = sectionClasses ~ " isDisabled" %}
      {% endif %}

      {% if section.containerFields.isAnimated %}
        {% set sectionClasses = sectionClasses ~ " isAnimated" %}
      {% endif %}

      {% if section.containerFields.background.isDark %}
        {% set sectionClasses = sectionClasses ~ " isDark" %}
      {% endif %}

      {# get the sections id string #}
      {% set sectionId = "" %}
      {% if section.containerFields.containerId %}
        {% set sectionId = section.containerFields.containerId %}
      {% endif %}

      {# build the section inline styles string #}
      {% set sectionStyles = "" %}
      {% if section.containerFields.background.color %}
        {% set sectionStyles = sectionStyles ~ "background-color:" ~ section.containerFields.background.color ~ ";" %}
      {% endif %}
      {% if section.containerFields.background.image %}
        {% set sectionStyles = sectionStyles ~ "background-image: url(" ~ section.containerFields.background.image ~ ");" %}
      {% endif %}
      
      {# section || article || aside #}
      <{{section.container}} 
        class="{{ sectionClasses }} {% if section.isSingle %}is-single{% endif %}" 
        {% if sectionId %} id="{{ sectionId }}" {% endif %} 
        {% if sectionStyles %} style="{{ sectionStyles }}" {% endif %}
      >
        {% set name = section.name %}
        {% set params = section %}

        {# name determines which section is rendered #}
        {% if name == "blog-banner" %}
          {% set blogProps = { author: author, date: date } %}
          {{ component(name, params, blogProps) }}
        {% else %}
          {{ component(name, params) }}
        {% endif %}
        
      </{{section.container}}>
    {% endif %}
  {% endfor %}
{% endblock %}