{#
  Art crawl announcement
  Renders the art crawl announcement section
  
  params: {
    text: {
      prefix: string - prefix to the title (optional)
      title: string - title of the blog post (optional)
      header: string - header of the blog post, e.g. "h1", "h2", etc. (optional)
      subtitle: string - subtitle of the blog post (optional)
      prose: string - prose of the blog post (optional)
    }
    image: {
      src: string - the image id
      alt: string - the alt text
      caption: string - the caption
    }
  }

  YAML example:
  image:
    src: ''
    alt: ''
    caption: ''hasCtas: false
  text:
    prefix: ""
    title: ""
    header: ""
    subtitle: ""
    prose: ""
#}

{% from "sections/particles/text.njk" import text %}
{% from "sections/particles/image.njk" import image %}

<div class="art-crawl-wrapper section-inner">
  <div class="announcement-text">
    {{ text(params) }}
  </div>
  {{ image(params) }}
</div>