<footer class="section-wrapper inContainer">
    <div class="section-inner">
      <p class="copyright">
        Copyright © Ines Tancré. 2006 - 2024 . All Right Reserved
      </p>
      <p class="contact"> Ines Tancré may be contacted at: ines@tancre.com</p>
    </div>
</footer>