<footer class="section-wrapper inContainer">
    <div class="section-inner">
      <p class="copyright">
        Copyright © Ines Tancré. 2006 -  
          <script type="text/javascript" language="javascript">
            <!-- Begin
              Stamp = new Date();
              year = Stamp.getYear();
              year = 1900 + year;
              document.write(year);
            // End -->
          </script>
        . All Right Reserved
      </p>
      <p class="contact"> Ines Tancré may be contacted at: itancre@gmail.com</p>
      <ul class="social-links">
        <li><a href="https://www.instagram.com/inestancre/" target="_blank" title="Instagram">{% include "../icons/instagram.njk" %}</a></li>
      </ul>
    </div>
</footer>