<div class="header-wrapper js-header">
  <header>
    <div class="container">
      <div class="brand">
        <a class="js-home-link home-link" href="/">
          {% include "../icons/ines-tancre.njk" %}
        </a>
      </div>
      <nav>
        <ul>
          <li class="home">
            <a href="/" title="Home">
              {% include "../icons/home.njk" %} 
              <span class="sr-only">home</span>
            </a>
          </li>
          <li class="exhibits">
            <a href="/exhibits" title="Exhibitions">
              {% include "../icons/align-justify.njk" %} 
              <span class="sr-only">Exhibitions</span>
            </a>
          </li>
          <li class="works">
            <a href="/works" title="Works">
              {% include "../icons/image.njk" %}
              <span class="sr-only">Works</span>
            </a>
          </li>
        </ul>
    </div>
  </header>
</div>