{#
  Video with Follow up
  Renders a modal video with a follow up text section
  
  params: {
    text: {
      prefix: string - prefix to the title (optional)
      title: string - title of the blog post (optional)
      header: string - header of the blog post, e.g. "h1", "h2", etc. (optional)
      subtitle: string - subtitle of the blog post (optional)
      prose: string - prose of the blog post (optional)
    }
    ctas: {
      url: "",
      label: "",
      isExternal: true,
      isButton: true,
      buttonStyle: "primary"
    }
    video: {
      title: string - video title (optional)
      inline: boolean - false if video should be rendered in a modal (optional)
      src: string - the video source, for exampple "youtube" (default)
      id: string - video id, for example "v=123456789"
      tn: string - thumbnail image url
      start: string - start time in seconds
      end: string - end time in seconds
    }
  }

  YAML example:
  video:
    title: ""
    inline: ""
    src: ""
    id: ""
    tn: ""
    start: ""
    end: ""
  hasCtas: false
  text:
    prefix: ""
    title: ""
    header: ""
    subtitle: ""
    prose: ""
  ctas:
    - url: ""
      label: ""
      isExternal: true
      isButton: true
      buttonStyle: "primary"

  image:
      src: ""
      alt: ""
      caption: ""
#}

{% from "sections/particles/text.njk" import text %}
{% from "sections/particles/ctas.njk" import ctas %}
{% from "sections/particles/video.njk" import video %}

<div class="video-follow-up-wrapper section-inner">
  <div class="exhibit-text"> 
    {{ text(params) }}
    {{ ctas(params) }}
  </div>
  {{ video(params) }}
</div>