{% macro ctas(props )%}
  {% if props.hasCtas %}
    <div class="ctas">  
      {% for cta in props.ctas %}
        {% if cta.isButton %}
          {% if cta.isExternal %}
            <a class="button-link {{ cta.buttonStyle }}" href="{{cta.url}}" target="_blank" rel="noopener noreferrer">{{ cta.label}}</a>
          {% else %}
            <a class="button-link {{ cta.buttonStyle }}" href="{{cta.url}}">{{ cta.label}}</a>
          {% endif %}
        {% else %}
          {% if cta.isExternal %}
            <a class="text-link" href="{{cta.url}}" target="_blank" rel="noopener noreferrer">{{ cta.label}}</a>
          {% else %}
            <a class="text-link" href="{{cta.url}}">{{ cta.label}}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div><!-- /.ctas-wrapper -->
  {% endif %}
{% endmacro %}